

<br>
<br>

    <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="txtEmail">Ingrese su email</label>
          <input type="email" formControlName="txtEmail"
          class="form-control form-rounded" id="txtEmail" aria-describedby="emailHelp" placeholder="ejemplo@gmail.com">
        </div>
        
        <div class="form-group">
          <label for="txtPassword">Contraseña</label>
          <input type="password" formControlName="txtPassword" class="form-control form-rounded" id="txtPassword" placeholder="*********">
        </div>
        <button type="submit" class="btn btn-primary">Entrar</button>
      </form>
