<ul class="nav nav-pills" style="padding-bottom: 40px;">  
    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/auth/login" [hidden]="currentUser">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/home" [hidden]="!currentUser">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/checklist-finalized" [hidden]="!currentUser">Tareas finalizadas</a>
      </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/auth/sign-up" [hidden]="currentUser">Registrarse</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="logout()" href="#" [hidden]="!currentUser">Salir</a>
    </li>
  </ul>
  