<h2>Tareas finalizadas</h2>
<button class="btn btn-danger" (click)="btnDeleteTask_click(true)">
  Eliminar todas las tareas
</button>
<br>
<br>
<br>

        <app-task *ngFor="let task of checklist"
        [task]="task"
        >
        </app-task>


  