<div class="row" [id]="task._id" [hidden]="!task._id">
    <div class="offset-xs-1 col-xs-5">
        <h4>
            {{task.title}}
        </h4>
        <p>
            {{task.description}}
        </p>
    </div>
    <div class="col-xs-4">
        <button 
        class="btn btn-primary" type="button" [hidden]="task.check" data-toggle="modal" data-target="#editModal">
            Editar
          </button>
         
          <button class="btn btn-danger" (click)="btnDelete_click()" type="button">
            Eliminar
          </button>
          <button class="btn btn-success" [hidden]="task.check" (click)="btnEditStatus_click(true)" type="button">
            Marcar como finalizada
          </button>
    </div>
</div>



 
  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="lblTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            
  <div class="modal-header">
    <h5 class="modal-title" id="lblTitle">Editar la tarea</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">


          <div class="form-group">
            <label for="txtTitle">Título</label>
            <input type="text" class="form-control" id="txtTitle" [(ngModel)]="txtTitle" (ngModelChange)="txtTitle = $event" >
          </div>
          
          <div class="form-group">
            <label for="txtDescription">Subtitulo</label>
            <input type="text" class="form-control" id="txtDescription" [(ngModel)]="txtDescription" (ngModelChange)="txtDescription = $event">
          </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
    <button type="button" class="btn btn-success" data-dismiss="modal" (click)="btnEditTask_click()">Guardar</button>
  </div>
        </div>
    </div>
</div>