<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="txtName">Nombre</label>
      <input type="text" formControlName="txtName" class="form-control form-rounded" id="txtName" placeholder="Nombre completo">
    </div>
    <div class="form-group">
        <label for="txtLastName">Apellidos</label>
        <input type="text" formControlName="txtLastName" class="form-control form-rounded" id="txtLastName" placeholder="Apellidos">
    </div>
    <div class="form-group">
        <label for="txtEmail">Ingrese su email</label>
        <input type="email" formControlName="txtEmail" class="form-control form-rounded" id="txtEmail" aria-describedby="emailHelp" placeholder="ejemplo@gmail.com">
    </div>
    <div class="form-group">
      <label for="txtPassword">Contraseña</label>
      <input type="password" formControlName="txtPassword" class="form-control form-rounded" id="txtPassword" placeholder="*********">
    </div>
    <button type="submit" class="btn btn-success">Guardar</button>

</form>