<h2>Tareas pendientes</h2>

<button 
class="btn btn-primary" type="button" data-toggle="modal" data-target="#newModal">
Nueva tarea
</button>


      <app-task *ngFor="let task of checklist"
      [task]="task"
      >
      </app-task>

      <div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="lblTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    
          <div class="modal-header">
            <h5 class="modal-title" id="lblTitle">Editar la tarea</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
        
        
                  <div class="form-group">
                    <label for="txtTitle">Título</label>
                    <input type="text" class="form-control" id="txtTitle" [(ngModel)]="txtTitle" (ngModelChange)="txtTitle = $event" >
                  </div>
                  
                  <div class="form-group">
                    <label for="txtDescription">Subtitulo</label>
                    <input type="text" class="form-control" id="txtDescription" [(ngModel)]="txtDescription" (ngModelChange)="txtDescription = $event">
                  </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              Cerrar
            </button>
            <button type="button" class="btn btn-success" data-dismiss="modal" (click)="btnNewTask_click()">
              Guardar
            </button>
          </div>
                </div>
            </div>
        </div>